/*
General styles
*/
* {
  box-sizing: border-box;
}
.body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  min-height: 100%;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 13px;
}
.wrapper {
  min-height: 100%;
}
/*
Header
*/
.header {
  background-color: #0072bc;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo__image {
  max-width: 75px;
}
.logo__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 13.5px;
  color: #fff;
  margin-left: 5px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 3px 3px 2px 7px;
}
.button {
  font-family: inherit;
}
.button-primary {
  padding: 2px 2px 1px 2px;
  max-width: 100px;
  background-color: #f26522;
  border-color: #f26522;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  line-height: 16.62px;
}
/* 
Hero
*/
.hero {
  text-align: center;
  margin-top: 25px;
}
.h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}
.hero__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 27.2px;
  margin-top: 18px;
}
.hero__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
}
/* 
Actual
*/
.list {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.actual {
  margin-top: 20px;
}
.actual__title {
  margin-top: 0;
}
.actual__list {
  margin-top: 20px;
}
.list__item {
  display: flex;
  max-width: 349px;
  border-radius: 5px;
  border: 1px solid #acacac;
  padding: 5px 10px 0 0;
}
.list__item--actual {
  margin-top: 10px;
}
.list__item--promo {
  padding: 10px;
  border: none;
}
.list__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list__item--actual:first-child {
  margin-top: 0;
}
.list__item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.list__item-image {
  max-width: 140px;
  object-fit: contain;
}
.list__item-image--promo {
  width: 100%;
  margin-top: 6px;
}
.list__item-name {
  color: #8e0000;
  font-size: 20px;
  line-height: 21.81px;
}
.list__item-name--promo {
  color: #000;
}
.list__item-name--promo:last-child {
  align-self: flex-end;
  margin: 0;
}
.list__item-text--promo {
  color: #8e0000;
  font-family: inherit;
  font-weight: 700;
  font-size: 19px;
  line-height: 21.81px;
  white-space: pre-line;
}
.list__item-name--actual {
  margin-top: 5px;
} 
.list__item-description {
  margin: 0;
  text-align: center;
  font-family: inherit;
  white-space: pre-line;
  font-size: 15px;
  line-height: 22.5px;
  color: #333333;
  margin-top: 10px;
}
.button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22.5px;
  padding: 10px;
  background-color: transparent;
  border: none;
}
.button-text--ok {
  color: #06811a;
}
.button-text--disabled {
  color: #444444;
}
/* 
Propositions
*/
.propositions {
  background-color: #6dcff6;
  margin-top: 15px;
  padding: 15px 10px 10px;
}
.propositions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.propositions__title {
  color: #fff;
  text-shadow: 0px 4px 15px #7c7c7c;
  font-weight: 700;
}
.swiper-container {
  margin-top: 15px;
  width: 100%;
}
.swiper-button-next--custom,
.swiper-button-prev--custom {
  width: 35px;
  height: 28px;
  padding: 5px;
  color: #fff;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next--custom {
  margin-left: 89px;
}
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  width: 19px;
  height: 19px;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  margin-left: 15px;
}
.swiper-pagination-bullet:first-child {
  margin-left: 0;
}
.swiper-pagination-bullet-active {
  width: 21px;
  height: 21px;
}
.swiper-navigation--custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.propositions__banner {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*
Footer
*/
.footer {
  padding: 17px 0 18px 0;
  text-align: center;
}
.copyright {
  font-weight: 700;
  font-size: 18px;
  line-height: 19.63px;
  color: #333;
}

/* iphone 5/SE */
@media screen and (max-width: 330px) {
  .h1 {
    font-size: 27px;
    line-height: 30.6px;
  }
  .hero__text {
    font-size: 22px;
    line-height: 24.93px;
  }
  .actual__list {
    margin-top: 15px;
  }
  .list__item-image {
    max-width: 100px;
  }
  .propositions__title {
    font-size: 21px;
    line-height: 22px;
  }
  .footer {
    padding: 5px;
  }
}

/* galaxy fold */
@media screen and (max-width: 290px) {
  .h1 {
    font-size: 27px;
    line-height: 30.6px;
  }
  .hero__text {
    font-size: 22px;
    line-height: 24.93px;
  }
  .actual__list {
    margin-top: 15px;
  }
  .list__item {
    flex-direction: column;
    width: 100%;
    max-width: none;
    align-items: center;
  }
  .list__item-image {
    max-width: 150px;
  }
  .propositions__title {
    font-size: 18px;
    line-height: 20px;
  }
  
  .swiper-navigation--custom {
    align-items: flex-end;
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
  .footer {
    padding: 5px;
  }
}

/*iPad and other tablets*/

@media screen and (min-width: 420px) {
  /*
  Header
  */
  .logo__image {
    max-width: 90px;
  }
  .logo__text {
    font-size: 32px;
    line-height: 24px;
    margin-left: 20px;
  }
  .header-container {
    padding: 7px 15px 6px 15px;
  }
  .button-primary {
    padding: 9px 21px 8px 20px;
    background-color: #f26522;
    border-color: #f26522;
    font-weight: 700;
    color: #fff;
    font-size: 26px;
    line-height: 24px;
    min-width: fit-content;
  }
  /*Actual*/
  .list {
    justify-content: center;
    margin: 10px -10px -10px;
  }

  .list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #acacac;
    margin: 10px 10px;
  }

  .list__item--actual:first-child {
    margin-top: inherit;
  }

  .list__item--promo {
    padding: 10px;
    border: none;
  }

  .list__item-image {
    max-width: 220px;
  }
}

@media screen and (min-width: 1200px) {
  /* 
  
  General styles
  
  */

  .body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
  }

  .main {
    min-height: 100vh;
    flex: 1 0;
  }
  
  .container {
    max-width: 1200px;
  }

  /* */
  
  /*
  
  Header
  
  */

  .logo__image {
    max-width: 90px;
  }
  .logo__text {
    font-size: 32px;
    line-height: 24px;
    margin-left: 20px;
  }
  .header-container {
    padding: 9px 23px 8px 15px;
  }
  
  .button-primary {
    padding: 19px 56px 18px 34px;
    background-color: #f26522;
    border-color: #f26522;
    font-weight: 700;
    color: #fff;
    font-size: 26px;
    line-height: 24px;
  }

/* 

Hero

*/

  .h1 {
    font-size: 45px;
    line-height: 45px;
    margin-top: 50px;
  }

  .hero__text {
    font-size: 45px;
    line-height: 45px;
    margin-top: 17px;
  }

  .hero__description {
    font-size: 30px;
    line-height: 34px;
    margin-top: 53px;
    padding: 0 215px;
  }

  /* 

  Actual

  */
  .actual__title {
    font-size: 30px;
    line-height: 34px;
  }

  .actual__list {
    padding-top: 31px;
    justify-content: space-between;
  }

  .list__item {
    padding: 2px 0 22px;
  }

  .list__item-name,
  .list__item-text--promo {
    font-size: 22px;
    line-height: 24px;
  }

  .list__item-description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
  }

  .list__item-image {
    max-width: 253.4px;
  }

  .button-text {
    font-size: 17px;
    line-height: 24px;
    margin-top: 43px;
  }

  .list__item-name--promo:last-child {
    margin-right: 50px;
  }

  /* 

  Propositions

  */
  .propositions {
    padding: 75px 0 128px;
    margin-top: 43px;
  }
  .propositions__title {
    font-size: 45px;
    line-height: 45px;
  }
  .swiper-container {
    max-width: 904px;
    margin-top: 56px;
  }
  .swiper-slide {
    width: 100%;
  }
  .swiper-pagination-bullet {
    width: 46px;
    height: 46px;
    margin-left: 37.5px;
  }
  .swiper-pagination-bullet-active {
    width: 49px;
    height: 49px;
  }
  .swiper-pagination-bullet:first-child {
    margin-left: 0;
  }
  .swiper-navigation--custom {
    margin-top: 54px;
  }
  .swiper-button-next--custom,
  .swiper-button-prev--custom {
    width: 35px;
    height: 48px;
    font-size: 50px;
  }
  .swiper-button-next--custom {
    margin-left: calc(213px + 39px*2);
  }
  /*footer*/
  .footer {
    padding: 26px 0 27px;
  }
  .copyright {
    font-size: 22px;
    line-height: 24px;
  }
}
